include default
	body
		include header
		div(style="max-width:840px; margin:0 auto")
			img(src="/amp-splash-logo-shadowed.png" style="width:100%")
		.site-wrap
			if !user
				h1 Atomic Multiplayer
			else
				h1(style="font-style:italic") Welcome Back to The Wasteland
			p.
				AtomicMP is the lovechild of the modern game engine Unreal Engine 4 and the kind of roleplay & world building that made you fall in love with gaming in the first place. If all goes well, this project will be the best of both worlds: Beautiful gameplay and meaningful story.

			img(src="/arena_low.png" style='width:100%')

			p.
				If you want to keep tabs on development updates and be the first to hear about build launches, join our #[a(class="discord-icon" href="https://discord.gg/5kPpTKw" target="_blank") Discord #[i(class="fab fa-discord")]]. From there, you can also get in touch with staff members and apply to become a Tester.

		script.
			$('document').ready(function () {
				$('body').fadeIn()
			})