include default
	body
		include header
		.site-wrap
			if !targetUser
				p.
					User not found.
			else
				h2= targetUser.username
				p= "ID: "+targetUser.user_id
				p= "Role: "+targetUser.role_name
				if targetUser.faction
					p= "Faction: "+targetUser.faction
