meta(charset="UTF-8")
meta(name="description" content="Atomic MP is an Unreal Engine 4 Multiplayer game inspired by and set in the Fallout Universe")
meta(name="keywords" content="AtomicMP,Atomic,MP,UE4,Unreal Engine 4,Fallout,Fallout New Vegas, Fallout 2,New Reno,Multiplayer,Game")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(property="og:TITLE" content="Atomic Multiplayer")
meta(property="og:image" content="/favicon.png")
meta(property="og:description" content="A Multiplayer Fallout Roleplay Experience")