script(src="/jquery.js" type="text/javascript")
script(src="/moment.js" type="text/javascript")
script(src="/topnav-responsive.js" type="text/javascript")
script(type="text/javascript").
  moment().format()