@font-face {
	font-family: "Overseer";
	src: url(/Overseer.otf) format("truetype");
}

* {
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	--header-main:      #f76b3a;
	--header-accent:    #293744;
	--body-main:		#f9ab57;
	--body-accent:		#f9f9d2;
}


html {
	margin:0;
	padding:0;
}

body {
	margin:0;
	padding:0;
	background-color: var(--header-accent);
	margin-bottom: 20px;
}

h1,h2,h3,h4,h5,h6 {
	color: var(--header-main);
	text-shadow: 1px 1px 1px var(--header-accent);
	font-family: Overseer;
}

h1 {
	font-size:60px;
}

a, a:visited {
	color: inherit;
	text-decoration: none;
}

.site-wrap {
	background-color: #eee;
	margin: 0px auto;
	padding: 20px 20px;
	max-width: 800px;
	color: var(--header-accent);
	font-size: 20px;
}

.site-wrap form {
	margin: 20px 0;
}

label {
	margin: 16px 0 0 0;
	display:block;
	clear:both;
	font-size: 18px;
	color: var(--header-accent);
}

.site-wrap form input{
	font-family: "Roboto",sans-serif;
	display:block;
	clear:both;
	padding:3px;
	color: var(--header-accent);
}

.site-wrap form input[type="submit"] {
	color: white;
	text-shadow: 1px 1px 1px var(--header-accent);
	font-size: 18px;
	background-color: var(--header-main);
	border-top: 1px solid var(--header-accent);
	border-right: 1px solid var(--header-accent);
	border-bottom: 2px solid var(--header-accent);
	border-left: 1px solid var(--header-accent);
	border-radius: 5px;
	padding: 5px 10px;
	margin-top: 12px;
}

.site-wrap form input[type="submit"]:hover {
	color: white;
	font-size: 18px;
	background-color: var(--header-accent);
	border-top: 1px solid var(--header-accent);
	border-right: 1px solid var(--header-accent);
	border-bottom: 2px solid var(--header-accent);
	border-left: 1px solid var(--header-accent);
	border-radius: 5px;
	padding: 5px 10px;
	box-shadow: 1px 1px 3px 1px #DDDDDD;
	-webkit-box-shadow: 1px 1px 3px 1px #DDDDDD;
	-moz-box-shadow: 1px 1px 3px 1px #DDDDDD;
	-o-box-shadow: 1px 1px 3px 1px #DDDDDD;
}


p {
	margin: 16px 0;
}


.error {
	color: red;
	font-size: 14px;
	padding:0px;
	margin:0px;
	min-height: 20px;
}

.input-description{
	color:#aaa;
	font-size: 10px;
	margin:0;
	padding:0;
}